/* Contact Section */
body {
  background-color: var(--bg-light-blue);
}

.page-title {
  text-align: center;
  margin-top: 7rem;
  margin-bottom: var(--spacing-md);
  font-size: 2.5rem;
}
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-md);
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-icon {
  width: 40px;
  height: 40px;
  background-color: var(--secondary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.map-placeholder {
  height: 300px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group label {
  font-weight: 500;
}

.form-control {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  font-family: "Poppins", sans-serif;
}

textarea.form-control {
  min-height: 150px;
  resize: vertical;
}
